@import "_color.scss";
@import "fonts.scss";

* {
  margin: 0;
  padding: 0;
}
* {
  clear: both;
}

html {
  box-sizing: border-box;

  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  // @media only screen and (max-width: $bp-large) {
  // font-size: 50%;
  // }
}

li {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
// Header

.header-box {
  max-width: 100%;
  background-color: $colorcopper;
}
.menu-box {
  max-width: 96vw;
}
