$colorcopper: #3a2511;
$colorwhite: #ffffff;
$coloryellow: #decfa7;
$green: #c9cb7b;
$grey: #b9c8cb;
$royse: #dab4af;
$whiteGrey: #d3dae2;
$greyarrivals: #e9e7e8;
$greyarrivalstwo: #e1e1df;
$greyarrivalsThree: #e8e8e6;
$greyarrivalsfour: #d4d4d4;
$afterheader: #99cb7b;
$colorblue: #bac9e0;
$grey-wrap: #d9dadf;
$light_gray: #d8d7d5;
$darkgray: #cdced7;
$lightyellow: #d4cfc3;
$black: #000f08;
$font_product: #8c8c8c;
$color_compile_look: #e8f1d7;
$derk_yellow: #cfcfb9;
$light_yellow: #dfdfcb;
