@font-face {
  font-family: "HelveticaNeueRegular";
  src: url("../assets/fonts/HelveticaNeueLTStd-It.otf");
}
html {
  font-size: 62.5%;
}
body {
  font-family: Helvetica Neue LT Std;
}
$shets: HelveticaNeueRegular;
